<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img alt="image" class="rounded-circle" src="~/inspinia-gh-pages/img/profile_small.jpg" />
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">Adem GÜNDÜZ</span>
                        <span class="text-muted text-xs block">Yazılım Mühendisi  </b></span>
                    </a>

                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>



            <li>
                <a href="mailbox.html">
                    <i class="fa fa-envelope"></i> <span class="nav-label">
                        Duyuru
                        <ul class="nav nav-second-level collapse">
                            <li><a href="/Announcements/Create">Duyuru Ekle</a></li>
                            <li><a href="/Announcements/List">Duyuru  Düzenle</a></li>
                           
                        </ul>
            </li>

           

        </ul>

    </div>
</nav>